{% extends 'base.html.twig' %}

{% block title %}Liste des personnes{% endblock %}

{% block h1 %}Liste des personnes{% endblock %}

{% block body %}
    {% for person in persons %}
        <h2 class="">
            <a href="{{ path('person', {'id': person.id }) }}" class="">
                {{ person.name|capitalize }}
            </a>
        </h2>
        <h3>Liste des animaux possédés : </h3>
        {% for dispose in person.disposes %}
            <div class="row align-items-center">
                <div class="col-2 text-center">
                    <img src="{{ asset('images/' ~ dispose.animal.image) }}" class="img-fluid">
                </div>
                <div class="col">
                    <h2><a href="{{ path('animal', {'id': dispose.animal.id }) }}">{{ dispose.animal.name }}</a></h2>
                    <div>Nombre : {{ dispose.nb }}</div>
                </div>
            </div>
        {% endfor %}
        <hr>
    {% endfor %}
{% endblock %}
